html {
  font-size: 16px;
  height: 100vh;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(./fonts//SF-Pro.woff2) format('woff2'),
    url(./fonts//SF-Pro.woff) format('woff'),
    url('./fonts/SF-Pro.ttf') format('truetype');
}

:root {
  --vh: 100%;
}
