html {
  font-size: 16px;
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

@font-face {
  font-family: 'Jua';
  src: url('./fonts/BMJUA_ttf.ttf');
}

@font-face {
  font-family: 'SF-Pro';
  src: url('./fonts/SF-Pro.ttf');
}

:root {
  --vh: 100%;
}
